<ion-header >
  <ion-toolbar color="light">
    <img width=110 src="assets/img/enflora.png" alt="enflora">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-list>
                  <ion-list-header>
                    <h3>Ordenes activas</h3> 
                  </ion-list-header>
                  <!-- <ion-item *ngFor="let order of activeOrders" [routerLink]="'/orders/'+order.id" routerDirection="forward">
                    <ion-label>
                      <ion-text slot="start" [color]="order.status.color">
                      <h3>{{order.status.text}}</h3>
                        <p *ngIf="order.status.id == 2">{{order.amount}}</p>
                        <p *ngIf="order.status.id == 3">{{order.payDate}}</p>
                      </ion-text> 
                    </ion-label>
                    
                    <ion-icon  slot="end"  name="arrow-forward"></ion-icon>
                  </ion-item> -->
                </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>

