<ion-header >
  <ion-toolbar color="light">
    <img width=110 src="assets/img/enflora.png" alt="enflora">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-list>
                  <ion-list-header>
                    <h3>Ordenes activas</h3> 
                  </ion-list-header>
                </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>

